/******************************** Firefox Tabs Counter **************************************/
#main-window {
    counter-reset: tabs;
}
/*.tabbrowser-tab:not(:-moz-any([pinned], [concealed])) {*/
.tabbrowser-tab:not(:-moz-any([concealed])) {
    counter-increment: tabs;
}
#alltabs-button {
    visibility: visible !important;
    margin-right: -25px !important;
}
#alltabs-button:after {
    content: counter(tabs);
    display: -moz-box;
}
#alltabs-button> :-moz-any(label, image) {
    display: none;
}


/******************************** Interface Adjustment **************************************/
/* 双行滚动书签栏 */
/*#PlacesToolbarItems{
    margin-top: 7px !important;
    height: 50px !important;
}
#PlacesToolbarItems>.box-inherit.scrollbox-innerbox{
    overflow: auto !important;
    float: left !important;
}*/
/* Show close buttons when hovering on inactive tabs */
tab:hover .close-icon {
    display: block !important;
}
/* 标签页载入动画图标 */
/* .tab-throbber {visibility: hidden;} */
/* 图标黑白化处理 */
/*
#nav-bar-customization-target toolbarbutton {
  filter:grayscale(1) saturate(1) contrast(0.65) brightness(1.4);
}
*/
/* Hide close buttons of inactive tabs */
tab:not([selected]) .close-icon {
    display: none;
}
/* Hide Page Action Button */
#pageActionButton {
    display: none;
}
/* Hide PanelUI Button */
#PanelUI-button {
    display: none;
}

/* Hide New Tongwentang icon */
#tongwen_softcup-browser-action,
#tongwen_softcup-page-action {
    display: none;
}

/* adjustment for Stylish */
#nav-bar #stylish-toolbar-button>.toolbarbutton-icon {
    padding-inline-end: 0 !important;
}

/* Hide History AutoDelete Counters */
#_7e79d10d-9667-4d38-838d-471281c568c3_-browser-action>stack>label {
    display: none;
}

/* hide triangles */
/*toolbarbutton:not(#bookmarks-menu-button) dropmarker {display: none;}*/
toolbarbutton dropmarker {
    display: none;
}

/*===================菜单调整=====================*/
/* Hide Horizontal Menu */
#context-navigation {
    display: none;
}

/*去可能导致误操作的菜单*/
#context-showonlythisframe {
    display: none;
}

/* Hide Invalid Menu Items */
menuitem[disabled="true"] {
    display: none !important;
}

/* page menu */
#context-sendpagetodevice,
#context-pocket,
#context-savepage,
#context-selectall,
#context-viewpartialsource-selection,
#xnotifier-bookmark,
#uacontrol_options,
#FavIconReloader {
    display: none;
}

/* link menu */
#context-sendlinktodevice,
#context-savelinktopocket,
#context-openlink,
#context-openlinkintab,
#context-savelink,
#context-copylink {
    display: none;
}

/* image menu */
#context-saveimage,
/*#context-copygif,*/
#context-copyimage,
/*#context-setDesktopBackground,*/
#context-sendimage,
#context-copyimage-contents {
    display: none;
}

/* tab menu */
#mafMenuSaveTabsInArchive_tabsContextMenu,
#context_openTabInWindow，#context_reloadTab,
#context_reloadTab,
#context_undoCloseTab,
#context_openTabInWindow {
    display: none;
}

/* bookmark menu */
#placesContext_open,
[command="placesCmd_open:tab"] {
    display: none;
}

/* video player menu */
#context-media-pause,
#context-media-mute,
#context-media-unmute,
#context-media-hidecontrols {
    display: none;
}

/* Hide all seperators */
menuseparator {
    display: none;
}


@-moz-document url("chrome://devtools/content/sourceeditor/codemirror/cmiframe.html") {
    .CodeMirror-sizer * {
        font-family: Consolas;
        font-size: 16px;
    }
    /* tint CodeMirror background color */
    .CodeMirror {
        background-color: #272822 !important;
    }
    /* tint line numbers background color */
    .CodeMirror-gutters {
        background-color: #272822 !important;
    }
    /* tint current line */
    .CodeMirror-activeline-gutter,
    .CodeMirror-linebackground {
        background-color: #3D4243 !important;
    }
    /* tint normal text */
    .CodeMirror-line {
        color: #F8F8F2 !important;
    }
    /* tint selected text */
    .CodeMirror-selected {
        background: #49483E !important;
    }
    .cm-def {
        color: #66D9EF !important;
    }
    .cm-property {
        color: #66D9EF !important;
        font-style: italic;
    }
    .cm-string {
        color: #E6DB74 !important;
    }
    .cm-builtin {
        color: #A6E22E !important;
    }
    .cm-qualifier {
        color: #A6E22E !important;
    }
    .cm-number {
        color: #AE81FF !important;
    }
    .cm-atom {
        color: #AE81FF !important;
    }
    .cm-keyword {
        color: #F92672 !important;
    }
    .cm-tag {
        color: #F8F8F2 !important;
    }
    .cm-variable {
        color: #33FF33 !important;
    }
    .cm-variable-3 {
        color: #FF9966 !important;
        font-style: italic;
    }
    .cm-searching {
        background-color: #FFE792;
        color: black !important;
    }
    ul.devtools-autocomplete-listbox>li.autocomplete {
        font-size: 150% !important;
    }
}
