@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#main-window[sizemode="maximized"] .titlebar-spacer {
    display:none;
}

/* Pin bookmarks on urlbar completion results */
/* useless code */
/*#urlbarView-results {
    display: -moz-box !important;
    -moz-box-orient: vertical !important;
}
#urlbarView-results > div[type="switchtab"] {
    -moz-box-ordinal-group: 0 !important;
    color: orange !important;
}
#urlbarView-results > div[type="bookmark"] {
    -moz-box-ordinal-group: 1 !important;
    color: green !important;
}
#urlbarView-results > div:not([type]) {
    -moz-box-ordinal-group: 2 !important;
    color: red !important;
}
#urlbarView-results > div[type="search"] {
    -moz-box-ordinal-group: 3 !important;
    color: purple !important;
}
*/

/* 全屏时隐藏tooltip信息 */
#main-window[sizemode="fullscreen"] #statuspanel{
    display: none !important;
}

/* Color User Agent Switcher Icon */
#user-agent-switcher_ninetailed_ninja-browser-action[label="User-Agent Switcher – Disabled"] {
    list-style-image: url('moz-extension://1a5c2c5f-f896-42de-8414-7e23c941e11c/assets/icon.svg') !important;
}

/**************************** Firefox Tabs Counter ****************************/
#main-window {
    counter-reset: tabs;
}
.tabbrowser-tab:not(:-moz-any([concealed])) {
    counter-increment: tabs;
}
#alltabs-button {
    visibility: visible !important;
}
#alltabs-button:after {
    content: counter(tabs);
    display: -moz-box;
}
#alltabs-button> :-moz-any(label, image) {
    display: none;
}


/************************** Interface Adjustment *****************************/
/* 双行滚动书签栏 */
/*#PlacesToolbarItems{
    margin-top: 7px !important;
    height: 50px !important;
}
#PlacesToolbarItems>.box-inherit.scrollbox-innerbox{
    overflow: auto !important;
    float: left !important;
}*/


/* 标签页载入动画图标 */
/* .tab-throbber {visibility: hidden;} */

/* 图标黑白化处理 */
/*#nav-bar-customization-target toolbarbutton {
  filter:grayscale(1) saturate(1) contrast(0.65) brightness(1.4);
}*/

/* 和谐化微博图床图标 */
/*#weibopic_ac-browser-action image {
    filter: contrast(0.5);
}*/

/* Hide close buttons of inactive tabs */
tab:not([selected]) .close-icon {
    display: none;
}

/* Show close buttons when hovering on inactive tabs */
tab:not([pinned]):hover .close-icon {
    display: block !important;
}

/* hide triangles */
/*toolbarbutton:not(#bookmarks-menu-button) dropmarker {display: none;}*/
toolbarbutton dropmarker {
    display: none;
}

/*=================== Menu Adjustments =====================*/
/* Horizontal Menu */
#context-navigation {
    display: none;
}

/* Remove items that are prone to change webpages */
#context-showonlythisframe {
    display: none;
}

/* Invalid Menu Items */
#contentAreaContextMenu menuitem[disabled="true"] {
    display: none !important;
}

/* page menu */
#context-sendpagetodevice,
#context-pocket,
#context-savepage,
#context-selectall {
    display: none;
}

/* link menu */
#context-sendlinktodevice,
#context-openlink,
#context-openlinkintab,
#context-savelink,
#context-copylink {
    display: none;
}

/* image menu */
#context-saveimage,
#context-sendimage {
    display: none;
}

/* tab menu */
#context_openTabInWindow,
#context_reloadTab,
#context_openTabInWindow {
    display: none;
}

/* bookmark menu */
#placesContext_open,
[command="placesCmd_open:tab"] {
    display: none;
}


/* Hide all seperators */
menuseparator {
    display: none;
}