@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@-moz-document url("about:addons"), url("chrome://mozapps/content/extensions/extensions.xul") {
    /*隐藏说明*/
    .description-container {
        visibility: collapse;
    }
    /*显示计数*/
    #list-view #addon-list .addon[active="false"],
    #updates-view #addon-list .addon[active="false"] {
        counter-increment: disabled;
    }
    #list-view #addon-list .addon[active="true"],
    #updates-view #addon-list .addon[active="true"] {
        counter-increment: enabled;
    }
    #list-view #addon-list:after,
    #updates-view #addon-list:after {
        content: counter(enabled)" enabled, "counter(disabled)" disabled";
        position: fixed;
        top: 60px;
        left: 500px;
    }
    /*  显示ID */
    .addon::after {
        content: "ID: " attr(value);
        position: absolute;
        cursor: default;
    }
}

