/* Show addon management buttons without opening popup */
@-moz-document url-prefix("chrome://mozapps/content/extensions/aboutaddons.html") {
/*
	.addon-card-message {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }
    .card.addon {
        padding-bottom: 0px !important;
    }
    addon-card .addon-card-collapsed {
        display: flex !important;
    }
    .more-options-menu {}
    .card-contents {
        flex: 1
    }
    addon-card panel-list {
        position: static !important;
        display: block !important;
        padding: 0 !important;
        margin: 0 calc(0px - var(--card-padding)) !important;
    }
    .addon-description {
        white-space: pre-line !important;
    }
    .arrow, addon-card .more-options-button, panel-item[action="expand"] {
        display: none !important;
    }
    div.list {
        display: flex !important;
        flex-direction: row !important;
    }
    panel-item[action="toggle-disabled"] {
        --icon: url("chrome://browser/skin/quit.svg")
    }
    panel-item[action="preferences"] {
        --icon: url("chrome://browser/skin/settings.svg")
    }
*/
/* hide button label */
/*
	button > slot{ display: none !important; }
	link+button{
	   padding: 4px !important;
	   position: static !important;
	   width: 30px !important;
	   height: 30px !important;
	   background-position: 50% !important;
	 }
	 link+button::after{ display: none !important; }
*/
}